@{
  Layout = "_Layout";
}

<h1>Add Player</h1>

<form action="/players" method="post">
  <label for="playerName">Player name</label>
  <input id="playerName" name="playerName" type="text">
  <button type='submit'>Add PLayer</button>  
</form>